#search_text{
    width: 300px;
    border-radius: 5px;
    height: 30px;
    border: 0.5px solid grey;
}
.container{
    height: auto;
    width: 300px;
    margin: auto;
}
.user_details_container{
    height: 300px;
    overflow-y: auto;
}
